
.main-component {
  padding: 10px;
  text-align: center;
}

#main-view {
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

#main-content {
  margin-top: 3em;
  padding: 1em;
}

.spacer {
  height: 20px;
}

.graph {
  display: flex;
  justify-content: center;
}

.alertBox {
  margin: .5em;
}